.App {
  text-align: center;
}

.graph-display {
  position: relative;
  width: 50vw;
  justify-content: center;
  align-content: center;
}
.graph-page {
  height: 90vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
  align-items: center;
}
.slide-bar-a {
  justify-self: center;
  width: 30vw;
  padding-top: 10vw;
  height: 50vw;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  fill: #ffffff;
}
.ticker-title {
  /* font-family: Arial, Helvetica, sans-serif; */
}
body,
html {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border: 1px solid #3d3d3d;
  border-radius: 3px;
  font-family: "Avenir";
  color: #3d3d3d;
  background-color: #f4f4f4;
  margin: 5px;
  border-radius: 8px;
}
button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

body {
  background-color: #f4f4f4;
}
.search-bar {
  display:flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  justify-content: center;

}

.input-class {
  display: flex;
  border: none;
  box-shadow:0px 3px 5px #c4c4c4;
  height: 30px;
  margin-top: 2vw;
  width: 50vw;
  justify-content: center;
 
}
.name {
  display:flex;
  justify-content: center;
}

.name-text {
  font-size: 30px;
  padding: 5px;
  margin: 5px
}